# Packages
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Dotenv
.env

# Dist
dist/**
!dist/**/*.d.cts

# Miscellaneous
.tmp/
.vscode/
.idea/
.DS_Store
.turbo
*.tgz
tsconfig.tsbuildinfo
coverage/
__coverage__/

# npm
package-lock.json

# yarn
.pnp.*
.yarn/

# Cache
.prettiercache
.eslintcache