# Please use "pnpm", other package managers should not be used to report bugs.
# See "package.json" scripts section for more info.
engine-strict = true

# Use a JavaScript implementation of a bash-like shell to execute scripts for non-POSIX-compliant systems. (🪟)
shell-emulator = true